#banner {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40vh;
  width: 100%;
  padding-top: 5px;
}

.container {
  padding-top: 12%;
  float: right;
  width: 70%;

}

.container-register {
padding-top: 6%;
float: right;
width: 70%;
}

.btn-lgn{
/* width similar to parent */
width: 70%;
}

.jumbotron {
float: left;
background: #ffc1cc;
width: 25%;
margin-top: 8%;
border-radius: 0;
border: 1px solid #ddd;
margin-bottom: 0;
}

.writing-container{
padding-left: 5px;
}

.writing-main{
padding-left: 2%;
padding-top: 3%;
padding-right: 10%;
}

.blog-main-solo{
padding-left: 2%;
padding-top: 3%;
padding-right: 10%;
}

.blog-all-solo{
padding-left: 5%;
padding-top: 3%;
padding-right: 10%;
}

.comment-section{
padding-left: 2%;
padding-top: 1%;
padding-right: 60%;
}

.comment-section-written{
padding-left: 2%;
padding-top: 1%;
padding-right: 35%;
}

.category-comps{
padding-left: 2%;
padding-right: 2%;
padding-bottom: 1%;
}

.card:hover {
transform: scale(1.005);
transition: 0.2s;
/* add shadow */
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-category:hover {
transform: scale(1.01);
transition: 0.2s;
/* add shadow */
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.2);
}

